In [13]:
import pyodbc

# defining the server and the database
server = '(localdb)\mssqllocaldb' 
database = 'TSQL_CLASS'  

# Define the connection string
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server}; \
    SERVER='+ server +'; \
    DATABASE ='+ database +';\
    Trusted_Connection=yes;'
)

In [27]:
# Question 1 - TSQL_Class DB
# Select the names of all the products in the store.

# Create the Cursor.
cursor = conn.cursor()

# Select the names of all products from dbo.Products table using SELECT statement
cursor.execute('SELECT Name FROM [TSQL_CLASS].[dbo].[Products]')
for row in cursor:
    print(row)

('Hard drive', )
('Memory', )
('ZIP drive', )
('Floppy disk', )
('Monitor', )
('DVD drive', )
('CD drive', )
('Printer', )
('Toner cartridge', )
('DVD burner', )

In [28]:
# Question 2 - TSQL_Class DB
# Select the names and the prices of all the products in the store.

# Create the Cursor.
cursor = conn.cursor()

# Select the names and the prices of all products using SELECT statement specifying (name, price)
cursor.execute('SELECT Name as Product, Price as [Cost per unit] FROM [TSQL_Class].[dbo].[Products]')
for row in cursor: 
    print(row)

# close the cursor
#cursor.close()
#conn.close()

('Hard drive', Decimal('240'))
('Memory', Decimal('120'))
('ZIP drive', Decimal('150'))
('Floppy disk', Decimal('5'))
('Monitor', Decimal('240'))
('DVD drive', Decimal('180'))
('CD drive', Decimal('90'))
('Printer', Decimal('270'))
('Toner cartridge', Decimal('66'))
('DVD burner', Decimal('180'))

In [2]:
# Question 3 - TSQL_Class DB
# Select the name of the products with a price less than or equal to $200.

#Create the Cursor()
cursor = conn.cursor()

# Select all the products with a price less than or equal to $200 using (<=) comparison operator
cursor.execute('SELECT Name FROM [TSQL_Class].[dbo].[Products] WHERE Price <= 200')
for row in cursor:
    print(row)

# close the cursor
# cursor.close()
# conn.close()

('Memory', )
('ZIP drive', )
('Floppy disk', )
('DVD drive', )
('CD drive', )
('Toner cartridge', )
('DVD burner', )

In [34]:
# Question 4 - TSQL_Class DB
# Select all the products with a price between $60 and $120.

# Create the Cursor()
cursor = conn.cursor()

# Select all the products in Products table between the price of 60 and 120 using >= AND <= comparison operator
cursor.execute('SELECT * FROM [TSQL_Class].[dbo].[Products] WHERE Price >= 60 AND Price <= 120')
for row in cursor:
    print(row)
    

# close the cursor
# cursor.close()
# conn.close()

(2, 'Memory', Decimal('120'), 6)
(7, 'CD drive', Decimal('90'), 2)
(9, 'Toner cartridge', Decimal('66'), 3)

In [35]:
# Question 5 - TSQL_Class DB
# Select the name and price in cents (i.e., the price must be multiplied by 100).

# Create the Cursor()
cursor = conn.cursor()

# Multiplying Price field by 100 to get the price in cents
cursor.execute('SELECT Name, Price*100 FROM [TSQL_Class].[dbo].[Products]')
for row in cursor:
    print(row)
    
# close the cursor
# cursor.close()
# conn.close()

('Hard drive', Decimal('24000'))
('Memory', Decimal('12000'))
('ZIP drive', Decimal('15000'))
('Floppy disk', Decimal('500'))
('Monitor', Decimal('24000'))
('DVD drive', Decimal('18000'))
('CD drive', Decimal('9000'))
('Printer', Decimal('27000'))
('Toner cartridge', Decimal('6600'))
('DVD burner', Decimal('18000'))

In [5]:
# Question 6 - TSQL 1
# Select the name and price of all products with a price 
#larger than or equal to $180, and sort first by price (in 
#descending order), and then by name (in ascending 
#order).

# Create the Cursor()
cursor = conn.cursor()

# Using a SELECT statement to find all the products with a price larger than or equal to 180
# first sort by price in descending order 
# second sort by name in ascending order 

cursor.execute('SELECT Name, Price FROM [TSQL_Class].[dbo].[Products] WHERE Price >= 180 ORDER BY Price DESC, Name')
for row in cursor:
    print(row)
    
# close the cursor
# cursor.close()
# conn.close()

('Printer', Decimal('270'))
('Hard drive', Decimal('240'))
('Monitor', Decimal('240'))
('DVD burner', Decimal('180'))
('DVD drive', Decimal('180'))

In [20]:
# Question 7 - TSQL_Class DB
# Select the last name of all employees.

# Create the Cursor()
cursor = conn.cursor()

# Using the SELECT statement print the last name of all employees in the Employeea table
cursor.execute('SELECT LastName FROM [TSQL_CLASS].[dbo].[Employees]')
for row in cursor:
    print(row)
    


# close the cursor
# cursor.close()
# conn.close()

('Rogers', )
('Scott', )
('Smith', )
('Stevens', )
('Foster', )
('ODonnell', )
('Doe', )
('Smith', )
('Efron', )
('Goldsmith', )
('Doe', )
('Swamy', )

In [24]:
# Question 8 - TSQL_Class DB
# Select the last name of all employees, without duplicates. 

# Create the Cursor()
cursor = conn.cursor()

# Using Select statment to print the last name of all employees, without duplicates (implenting DISTINCT).
cursor.execute('SELECT DISTINCT LastName FROM [TSQL_CLASS].[dbo].[Employees]')
for row in cursor:
    print(row)
    
# close the cursor
# cursor.close()
# conn.close()

('Doe', )
('Efron', )
('Foster', )
('Goldsmith', )
('ODonnell', )
('Rogers', )
('Scott', )
('Smith', )
('Stevens', )
('Swamy', )

In [33]:
# Question 9 - TSQL_Class DB
# Select all the data of employees whose last name is "Smith".

# Create the Cursor()
cursor = conn.cursor()

# Using the where clause to filter employees with only the last name Smith 
cursor.execute("""SELECT * FROM [TSQL_CLASS].[dbo].[Employees] WHERE LastName = 'Smith' """)
for row in cursor:
    print(row)
    
# close the cursor
# cursor.close()
# conn.close()

(222364883, 'Carol', 'Smith', 37)
(631231482, 'David', 'Smith', 77)

In [36]:
# Question 10 - TSQL_Class DB
# Select all the data of employees whose last name is "Smith" or "Doe"

# Create the Cursor
cursor = conn.cursor()

# Using the Where clause to filter employees with the last name Smith OR Doe
cursor.execute("""SELECT * FROM [TSQL_CLASS].[dbo].[Employees] WHERE LastName = 'Smith' or LastName = 'Doe' ORDER BY LastName""")
for row in cursor:
    print(row)


# close the cursor
# cursor.close()
# conn.close()

(546523478, 'Kate', 'Doe', 59)
(845657245, 'Elizabeth', 'Doe', 14)
(222364883, 'Carol', 'Smith', 37)
(631231482, 'David', 'Smith', 77)

In [5]:
# Question 11 - TSQL_CLASS DB
# Select all the data of employees that work in department 14

# Create the Cursor()
cursor = conn.cursor()

# Using the where statement to filter emplayees that work in department 14 only 
cursor.execute("""SELECT * FROM [TSQL_CLASS].[dbo].[Employees] WHERE Department = 14""")
for row in cursor:
    print(row)

# close the cursor
# cursor.close()
# conn.close()

(123234877, 'Michael', 'Rogers', 14)
(152934485, 'Sasi', 'Scott', 14)
(332154719, 'Mary-Anne', 'Foster', 14)
(845657245, 'Elizabeth', 'Doe', 14)
(845657246, 'Kumar', 'Swamy', 14)

In [7]:
# Question 12 - Model 2
#Select all the data of employees that work in department 37 or department 77

# Create a Cursor()
cursor = conn.cursor()

# Using a where statement with an OR logical operator to filter employees in department 37 and 77
cursor.execute("""SELECT * FROM [TSQL_Class].[dbo].[Employees] WHERE Department = 37
                OR Department = 77""")
for row in cursor:
    print(row)

# close the cursor
# cursor.close()
# conn.close()

(222364883, 'Carol', 'Smith', 37)
(326587417, 'Joe', 'Stevens', 37)
(332569843, 'George', 'ODonnell', 77)
(631231482, 'David', 'Smith', 77)

In [8]:
# Question 13 - TSQL_Class
# Select all the data of employees whose last name begins with an "S".

# Create the Cursor()
cursor = conn.cursor()

# Using a where statement to filter for employee only where the last name begins with an S
cursor.execute("""SELECT TOP 5 * FROM [TSQL_Class].[dbo].[Employees] WHERE LastName like 's%'""")
for row in cursor:
    print(row)
    
# close the cursor
# cursor.close()
# conn.close()

(152934485, 'Sasi', 'Scott', 14)
(222364883, 'Carol', 'Smith', 37)
(326587417, 'Joe', 'Stevens', 37)
(631231482, 'David', 'Smith', 77)
(845657246, 'Kumar', 'Swamy', 14)

In [3]:
# Question 14 - TSQL_Class DB
# Select all warehouses.

# Create a Cursor()
cursor = conn.cursor()

# Using the SELECT statement to print all warehouses in Warehouse table
cursor.execute("""SELECT TOP 5 * FROM [TSQL_CLASS].[dbo].[Warehouses]""")
for row in cursor: 
    print(row)

# close the cursor
# cursor.close()
# conn.close()

(1, 'Chicago', 3)
(2, 'Chicago', 4)
(3, 'New York', 7)
(4, 'Los Angeles', 2)
(5, 'San Francisco', 8)

In [7]:
# Question 15 - TSQL_Class DB
# Select all boxes with a value larger than $15

# Create the Cursor
cursor = conn.cursor()

# Using the WHERE statement to filter for boxes with value more than $150
cursor.execute("""SELECT TOP 5 * FROM [TSQL_Class].[dbo].[Boxes]
                WHERE VALUE > 150""")
for row in cursor:
    print(row)

# close the cursor
# cursor.close()
# conn.close()

('0MN7', 'Rocks', 180.0, 3)
('4H8P', 'Rocks', 250.0, 1)
('4RT3', 'Scissors', 190.0, 4)
('7G3H', 'Rocks', 200.0, 1)
('9J6F', 'Papers', 175.0, 2)

In [18]:
# Question 16 - TSQL_Class DB
# Select all distinct contents in all the boxes.

# Create the Cursor
cursor = conn.cursor()

# Using the distinct keyword to select only unique contents in all the boxes
cursor.execute("""SELECT DISTINCT Contents FROM [TSQL_Class].[dbo].[Boxes]""")
for row in cursor:
    print(row)

# close the cursor
# cursor.close()
# conn.close()

('Papers', )
('Rocks', )
('Scissors', )

In [19]:
# Question 17 - TSQL_Class DB
# Select the name of all the pieces. 

# Create the Cursor
cursor = conn.cursor()

# Using the SELECT statement for all of the pieces in the Pieces table
cursor.execute("""SELECT TOP 5 * FROM [TSQL_Class].[dbo].[Pieces]""")
for row in cursor:
    print(row)
    
# close the cursor
# cursor.close()
# conn.close()

(1, 'Sprocket')
(2, 'Screw')
(3, 'Nut')
(4, 'Bolt')

In [20]:
# Question 18 - TSQL_Class DB
# Select all the providerâ€˜s data

# Create the cursor
cursor = conn.cursor()

# Using the SELECT statement to print all the provider's data
cursor.execute("""SELECT TOP 5 * FROM [TSQL_Class].[dbo].[Providers]""")
for row in cursor: 
    print(row)
    
# close the cursor
# cursor.close()
# conn.close()

('HAL', 'Clarke Enterprises')
('RBT', 'Susan Calvin Corp.')
('TNBC', 'Skellington Supplies')