In [2]:
import pyodbc

# defining the server and the database
server = '(localdb)\mssqllocaldb' 
database = 'TSQL_CLASS'  

# Define the connection string
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server}; \
    SERVER='+ server +'; \
    DATABASE ='+ database +';\
    Trusted_Connection=yes;'
)

In [4]:
# Question 1 - TSQL_Class DB - Products table
# Select the names of all the products in the store.

# Create the Cursor.
cursor = conn.cursor()

# Using a TOP 10 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 10 * FROM [TSQL_Class].[dbo].[Products]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

print("\n")

# Selected the names of all products from dbo.Products table using SELECT statement
cursor.execute('SELECT Name FROM [TSQL_CLASS].[dbo].[Products]')

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

['Code', 'Name', 'Price', 'Manufacturer']
(1, 'Hard drive', Decimal('240'), 5)
(2, 'Memory', Decimal('120'), 6)
(3, 'ZIP drive', Decimal('150'), 4)
(4, 'Floppy disk', Decimal('5'), 6)
(5, 'Monitor', Decimal('240'), 1)
(6, 'DVD drive', Decimal('180'), 2)
(7, 'CD drive', Decimal('90'), 2)
(8, 'Printer', Decimal('270'), 3)
(9, 'Toner cartridge', Decimal('66'), 3)
(10, 'DVD burner', Decimal('180'), 2)


['Name']
('Hard drive', )
('Memory', )
('ZIP drive', )
('Floppy disk', )
('Monitor', )
('DVD drive', )
('CD drive', )
('Printer', )
('Toner cartridge', )
('DVD burner', )

In [5]:
# Question 2 - TSQL_Class DB - Products table
# Select the names and the prices of all the products in the store.

# Create the Cursor.
cursor = conn.cursor()

# Using a TOP 10 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 10 * FROM [TSQL_Class].[dbo].[Products]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

print("\n")

# Selected the names and the prices of all products using SELECT statement specifying (name, price)
cursor.execute('SELECT Name as Product, Price AS [Cost per unit] FROM [TSQL_Class].[dbo].[Products]')

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

# close the cursor
#cursor.close()
#conn.close()

['Code', 'Name', 'Price', 'Manufacturer']
(1, 'Hard drive', Decimal('240'), 5)
(2, 'Memory', Decimal('120'), 6)
(3, 'ZIP drive', Decimal('150'), 4)
(4, 'Floppy disk', Decimal('5'), 6)
(5, 'Monitor', Decimal('240'), 1)
(6, 'DVD drive', Decimal('180'), 2)
(7, 'CD drive', Decimal('90'), 2)
(8, 'Printer', Decimal('270'), 3)
(9, 'Toner cartridge', Decimal('66'), 3)
(10, 'DVD burner', Decimal('180'), 2)


['Product', 'Cost per unit']
('Hard drive', Decimal('240'))
('Memory', Decimal('120'))
('ZIP drive', Decimal('150'))
('Floppy disk', Decimal('5'))
('Monitor', Decimal('240'))
('DVD drive', Decimal('180'))
('CD drive', Decimal('90'))
('Printer', Decimal('270'))
('Toner cartridge', Decimal('66'))
('DVD burner', Decimal('180'))

In [6]:
# Question 3 - TSQL_Class DB - Products table
# Select the name of the products with a price less than or equal to $200.

#Create the Cursor()
cursor = conn.cursor()

# Using a TOP 10 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 10 * FROM [TSQL_Class].[dbo].[Products]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

print("\n")

# Select all the products with a price less than or equal to $200 using (<=) comparison operator
cursor.execute('SELECT Name AS [Price less than 200] FROM [TSQL_Class].[dbo].[Products] WHERE Price <= 200')

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

# close the cursor
# cursor.close()
# conn.close()

['Code', 'Name', 'Price', 'Manufacturer']
(1, 'Hard drive', Decimal('240'), 5)
(2, 'Memory', Decimal('120'), 6)
(3, 'ZIP drive', Decimal('150'), 4)
(4, 'Floppy disk', Decimal('5'), 6)
(5, 'Monitor', Decimal('240'), 1)
(6, 'DVD drive', Decimal('180'), 2)
(7, 'CD drive', Decimal('90'), 2)
(8, 'Printer', Decimal('270'), 3)
(9, 'Toner cartridge', Decimal('66'), 3)
(10, 'DVD burner', Decimal('180'), 2)


['Price less than 200']
('Memory', )
('ZIP drive', )
('Floppy disk', )
('DVD drive', )
('CD drive', )
('Toner cartridge', )
('DVD burner', )

In [7]:
# Question 4 - TSQL_Class DB - Products table
# Select all the products with a price between $60 and $120.

# Create the Cursor()
cursor = conn.cursor()

# Using a TOP 10 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 10 * FROM [TSQL_Class].[dbo].[Products]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

print("\n")

# Select all the products in Products table between the price of 60 and 120 using >= AND <= comparison operator
cursor.execute('SELECT * FROM [TSQL_Class].[dbo].[Products] WHERE Price >= 60 AND Price <= 120')

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

# close the cursor
# cursor.close()
# conn.close()

['Code', 'Name', 'Price', 'Manufacturer']
(1, 'Hard drive', Decimal('240'), 5)
(2, 'Memory', Decimal('120'), 6)
(3, 'ZIP drive', Decimal('150'), 4)
(4, 'Floppy disk', Decimal('5'), 6)
(5, 'Monitor', Decimal('240'), 1)
(6, 'DVD drive', Decimal('180'), 2)
(7, 'CD drive', Decimal('90'), 2)
(8, 'Printer', Decimal('270'), 3)
(9, 'Toner cartridge', Decimal('66'), 3)
(10, 'DVD burner', Decimal('180'), 2)


['Code', 'Name', 'Price', 'Manufacturer']
(2, 'Memory', Decimal('120'), 6)
(7, 'CD drive', Decimal('90'), 2)
(9, 'Toner cartridge', Decimal('66'), 3)

In [35]:
# Question 5 - TSQL_Class DB - Products table
# Select the name and price in cents (i.e., the price must be multiplied by 100).

# Create the Cursor()
cursor = conn.cursor()

# Multiplying Price field by 100 to get the price in cents
cursor.execute('SELECT Name, Price*100 FROM [TSQL_Class].[dbo].[Products]')
for row in cursor:
    print(row)
    
# close the cursor
# cursor.close()
# conn.close()

('Hard drive', Decimal('24000'))
('Memory', Decimal('12000'))
('ZIP drive', Decimal('15000'))
('Floppy disk', Decimal('500'))
('Monitor', Decimal('24000'))
('DVD drive', Decimal('18000'))
('CD drive', Decimal('9000'))
('Printer', Decimal('27000'))
('Toner cartridge', Decimal('6600'))
('DVD burner', Decimal('18000'))

In [9]:
# Question 6 - TSQL_Class - Products table
# Select the name and price of all products with a price 
# larger than or equal to $180, and sort first by price (in 
# descending order), and then by name (in ascending order).

# Create the Cursor()
cursor = conn.cursor()

# Using a TOP 10 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 10 * FROM [TSQL_Class].[dbo].[Products]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

print("\n")

# Using a SELECT statement to find all the products with a price larger than or equal to 180
# first sort by price in descending order 
# second sort by name in ascending order 

cursor.execute('SELECT Name, Price FROM [TSQL_Class].[dbo].[Products] WHERE Price >= 180 ORDER BY Price DESC, Name')

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
# close the cursor
# cursor.close()
# conn.close()

['Code', 'Name', 'Price', 'Manufacturer']
(1, 'Hard drive', Decimal('240'), 5)
(2, 'Memory', Decimal('120'), 6)
(3, 'ZIP drive', Decimal('150'), 4)
(4, 'Floppy disk', Decimal('5'), 6)
(5, 'Monitor', Decimal('240'), 1)
(6, 'DVD drive', Decimal('180'), 2)
(7, 'CD drive', Decimal('90'), 2)
(8, 'Printer', Decimal('270'), 3)
(9, 'Toner cartridge', Decimal('66'), 3)
(10, 'DVD burner', Decimal('180'), 2)


['Name', 'Price']
('Printer', Decimal('270'))
('Hard drive', Decimal('240'))
('Monitor', Decimal('240'))
('DVD burner', Decimal('180'))
('DVD drive', Decimal('180'))

In [10]:
# Question 7 - TSQL_Class DB - Employees table
# Select the last name of all employees.

# Create the Cursor()
cursor = conn.cursor()

# Using a TOP 10 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 10 * FROM [TSQL_Class].[dbo].[Employees]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

print("\n")

# Using the SELECT statement print the last name of all employees in the Employeea table
cursor.execute('SELECT LastName FROM [TSQL_CLASS].[dbo].[Employees]')

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    


# close the cursor
# cursor.close()
# conn.close()

['SSN', 'Name', 'LastName', 'Department']
(123234877, 'Michael', 'Rogers', 14)
(152934485, 'Sasi', 'Scott', 14)
(222364883, 'Carol', 'Smith', 37)
(326587417, 'Joe', 'Stevens', 37)
(332154719, 'Mary-Anne', 'Foster', 14)
(332569843, 'George', 'ODonnell', 77)
(546523478, 'Kate', 'Doe', 59)
(631231482, 'David', 'Smith', 77)
(654873219, 'Zacary', 'Efron', 59)
(745685214, 'Eric', 'Goldsmith', 59)


['LastName']
('Rogers', )
('Scott', )
('Smith', )
('Stevens', )
('Foster', )
('ODonnell', )
('Doe', )
('Smith', )
('Efron', )
('Goldsmith', )
('Doe', )
('Swamy', )

In [11]:
# Question 8 - TSQL_Class DB
# Select the last name of all employees, without duplicates. 

# Create the Cursor()
cursor = conn.cursor()

# Using a TOP 10 filter to limit the amount of data pulled from an exploratory query
cursor.execute("""SELECT TOP 10 * FROM [TSQL_Class].[dbo].[Employees]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

print("\n")

# Using Select statment to print the last name of all employees, without duplicates (implenting DISTINCT).
cursor.execute('SELECT DISTINCT LastName FROM [TSQL_CLASS].[dbo].[Employees]')

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
# close the cursor
# cursor.close()
# conn.close()

['SSN', 'Name', 'LastName', 'Department']
(123234877, 'Michael', 'Rogers', 14)
(152934485, 'Sasi', 'Scott', 14)
(222364883, 'Carol', 'Smith', 37)
(326587417, 'Joe', 'Stevens', 37)
(332154719, 'Mary-Anne', 'Foster', 14)
(332569843, 'George', 'ODonnell', 77)
(546523478, 'Kate', 'Doe', 59)
(631231482, 'David', 'Smith', 77)
(654873219, 'Zacary', 'Efron', 59)
(745685214, 'Eric', 'Goldsmith', 59)


['LastName']
('Doe', )
('Efron', )
('Foster', )
('Goldsmith', )
('ODonnell', )
('Rogers', )
('Scott', )
('Smith', )
('Stevens', )
('Swamy', )

In [12]:
# Question 9 - TSQL_Class DB - Employees table
# Select all the data of employees whose last name is "Smith".

# Create the Cursor()
cursor = conn.cursor()

# Using a TOP 10 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 10 * FROM [TSQL_Class].[dbo].[Employees]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

print("\n")

# Using the where clause to filter employees with only the last name Smith 
cursor.execute("""SELECT * FROM [TSQL_CLASS].[dbo].[Employees] WHERE LastName = 'Smith' """)

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
# close the cursor
# cursor.close()
# conn.close()

['SSN', 'Name', 'LastName', 'Department']
(123234877, 'Michael', 'Rogers', 14)
(152934485, 'Sasi', 'Scott', 14)
(222364883, 'Carol', 'Smith', 37)
(326587417, 'Joe', 'Stevens', 37)
(332154719, 'Mary-Anne', 'Foster', 14)
(332569843, 'George', 'ODonnell', 77)
(546523478, 'Kate', 'Doe', 59)
(631231482, 'David', 'Smith', 77)
(654873219, 'Zacary', 'Efron', 59)
(745685214, 'Eric', 'Goldsmith', 59)


['SSN', 'Name', 'LastName', 'Department']
(222364883, 'Carol', 'Smith', 37)
(631231482, 'David', 'Smith', 77)

In [13]:
# Question 10 - TSQL_Class DB - Employees table
# Select all the data of employees whose last name is "Smith" or "Doe"

# Create the Cursor
cursor = conn.cursor()

# Using a TOP 10 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 10 * FROM [TSQL_Class].[dbo].[Employees]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

print("\n")

# Using the Where clause to filter employees with the last name Smith OR Doe
cursor.execute("""SELECT * FROM [TSQL_CLASS].[dbo].[Employees] WHERE LastName = 'Smith' or LastName = 'Doe' ORDER BY LastName""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)


# close the cursor
# cursor.close()
# conn.close()

['SSN', 'Name', 'LastName', 'Department']
(123234877, 'Michael', 'Rogers', 14)
(152934485, 'Sasi', 'Scott', 14)
(222364883, 'Carol', 'Smith', 37)
(326587417, 'Joe', 'Stevens', 37)
(332154719, 'Mary-Anne', 'Foster', 14)
(332569843, 'George', 'ODonnell', 77)
(546523478, 'Kate', 'Doe', 59)
(631231482, 'David', 'Smith', 77)
(654873219, 'Zacary', 'Efron', 59)
(745685214, 'Eric', 'Goldsmith', 59)


['SSN', 'Name', 'LastName', 'Department']
(546523478, 'Kate', 'Doe', 59)
(845657245, 'Elizabeth', 'Doe', 14)
(222364883, 'Carol', 'Smith', 37)
(631231482, 'David', 'Smith', 77)

In [14]:
# Question 11 - TSQL_CLASS DB - Employees table
# Select all the data of employees that work in department 14

# Create the Cursor()
cursor = conn.cursor()

# Using a TOP 10 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 10 * FROM [TSQL_Class].[dbo].[Employees]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

print("\n")

# Using the where statement to filter emplayees that work in department 14 only 
cursor.execute("""SELECT * FROM [TSQL_CLASS].[dbo].[Employees] WHERE Department = 14""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

# close the cursor
# cursor.close()
# conn.close()

['SSN', 'Name', 'LastName', 'Department']
(123234877, 'Michael', 'Rogers', 14)
(152934485, 'Sasi', 'Scott', 14)
(222364883, 'Carol', 'Smith', 37)
(326587417, 'Joe', 'Stevens', 37)
(332154719, 'Mary-Anne', 'Foster', 14)
(332569843, 'George', 'ODonnell', 77)
(546523478, 'Kate', 'Doe', 59)
(631231482, 'David', 'Smith', 77)
(654873219, 'Zacary', 'Efron', 59)
(745685214, 'Eric', 'Goldsmith', 59)


['SSN', 'Name', 'LastName', 'Department']
(123234877, 'Michael', 'Rogers', 14)
(152934485, 'Sasi', 'Scott', 14)
(332154719, 'Mary-Anne', 'Foster', 14)
(845657245, 'Elizabeth', 'Doe', 14)
(845657246, 'Kumar', 'Swamy', 14)

In [7]:
# Question 12 - TSQL_Class DB - Employees table
#Select all the data of employees that work in department 37 or department 77

# Create a Cursor()
cursor = conn.cursor()

# Using a where statement with an OR logical operator to filter employees in department 37 and 77
cursor.execute("""SELECT * FROM [TSQL_Class].[dbo].[Employees] WHERE Department = 37
                OR Department = 77""")
for row in cursor:
    print(row)

# close the cursor
# cursor.close()
# conn.close()

(222364883, 'Carol', 'Smith', 37)
(326587417, 'Joe', 'Stevens', 37)
(332569843, 'George', 'ODonnell', 77)
(631231482, 'David', 'Smith', 77)

In [18]:
# Question 13 - TSQL_Class - Employees table
# Select all the data of employees whose last name begins with an "S".

# Create the Cursor()
cursor = conn.cursor()

# Using a TOP 10 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 10 * FROM [TSQL_Class].[dbo].[Employees]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

print("\n")

# Using a where statement to filter for employee only where the last name begins with an S
cursor.execute("""SELECT TOP 5 * FROM [TSQL_Class].[dbo].[Employees] WHERE LastName like 's%'""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
# close the cursor
# cursor.close()
# conn.close()

['SSN', 'Name', 'LastName', 'Department']
(123234877, 'Michael', 'Rogers', 14)
(152934485, 'Sasi', 'Scott', 14)
(222364883, 'Carol', 'Smith', 37)
(326587417, 'Joe', 'Stevens', 37)
(332154719, 'Mary-Anne', 'Foster', 14)
(332569843, 'George', 'ODonnell', 77)
(546523478, 'Kate', 'Doe', 59)
(631231482, 'David', 'Smith', 77)
(654873219, 'Zacary', 'Efron', 59)
(745685214, 'Eric', 'Goldsmith', 59)


['SSN', 'Name', 'LastName', 'Department']
(152934485, 'Sasi', 'Scott', 14)
(222364883, 'Carol', 'Smith', 37)
(326587417, 'Joe', 'Stevens', 37)
(631231482, 'David', 'Smith', 77)
(845657246, 'Kumar', 'Swamy', 14)

In [19]:
# Question 14 - TSQL_Class DB - Warehouse table
# Select all warehouses.

# Create a Cursor()
cursor = conn.cursor()

# Using the SELECT statement to print all warehouses in Warehouse table
cursor.execute("""SELECT * FROM [TSQL_CLASS].[dbo].[Warehouses]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

# close the cursor
# cursor.close()
# conn.close()

['Code', 'Location', 'Capacity']
(1, 'Chicago', 3)
(2, 'Chicago', 4)
(3, 'New York', 7)
(4, 'Los Angeles', 2)
(5, 'San Francisco', 8)

In [20]:
# Question 15 - TSQL_Class DB - Boxes table
# Select all boxes with a value larger than $15

# Create the Cursor
cursor = conn.cursor()

# Using a TOP 10 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 10 * FROM [TSQL_Class].[dbo].[Boxes]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

print("\n")

# Using the WHERE statement to filter for boxes with value more than $150
cursor.execute("""SELECT TOP 5 * FROM [TSQL_Class].[dbo].[Boxes]
                WHERE VALUE > 150""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)


# close the cursor
# cursor.close()
# conn.close()

['Code', 'Contents', 'VALUE', 'Warehouse']
('0MN7', 'Rocks', 180.0, 3)
('4H8P', 'Rocks', 250.0, 1)
('4RT3', 'Scissors', 190.0, 4)
('7G3H', 'Rocks', 200.0, 1)
('8JN6', 'Papers', 75.0, 1)
('8Y6U', 'Papers', 50.0, 3)
('9J6F', 'Papers', 175.0, 2)
('LL08', 'Rocks', 140.0, 4)
('P0H6', 'Scissors', 125.0, 1)
('P2T6', 'Scissors', 150.0, 2)


['Code', 'Contents', 'VALUE', 'Warehouse']
('0MN7', 'Rocks', 180.0, 3)
('4H8P', 'Rocks', 250.0, 1)
('4RT3', 'Scissors', 190.0, 4)
('7G3H', 'Rocks', 200.0, 1)
('9J6F', 'Papers', 175.0, 2)

In [22]:
# Question 16 - TSQL_Class DB
# Select all distinct contents in all the boxes.

# Create the Cursor
cursor = conn.cursor()

# Using a TOP 10 filter to limit the amount of data pulled from exploratory query
cursor.execute("""SELECT TOP 10 * FROM [TSQL_Class].[dbo].[Boxes]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)

print("\n")

# Using the distinct keyword to select only unique contents in all the boxes
cursor.execute("""SELECT DISTINCT Contents FROM [TSQL_Class].[dbo].[Boxes]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)


# close the cursor
# cursor.close()
# conn.close()

['Code', 'Contents', 'VALUE', 'Warehouse']
('0MN7', 'Rocks', 180.0, 3)
('4H8P', 'Rocks', 250.0, 1)
('4RT3', 'Scissors', 190.0, 4)
('7G3H', 'Rocks', 200.0, 1)
('8JN6', 'Papers', 75.0, 1)
('8Y6U', 'Papers', 50.0, 3)
('9J6F', 'Papers', 175.0, 2)
('LL08', 'Rocks', 140.0, 4)
('P0H6', 'Scissors', 125.0, 1)
('P2T6', 'Scissors', 150.0, 2)


['Contents']
('Papers', )
('Rocks', )
('Scissors', )

In [25]:
# Question 17 - TSQL_Class DB - Pieces table
# Select the name of all the pieces. 

# Create the Cursor
cursor = conn.cursor()

# Using the SELECT statement for all of the pieces in the Pieces table
cursor.execute("""SELECT Name FROM [TSQL_Class].[dbo].[Pieces]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
# close the cursor
# cursor.close()
# conn.close()

['Name']
('Sprocket', )
('Screw', )
('Nut', )
('Bolt', )

In [26]:
# Question 18 - TSQL_Class DB - Providers table
# Select all the providerâ€˜s data

# Create the cursor
cursor = conn.cursor()

# Using the SELECT statement to print all the provider's data
cursor.execute("""SELECT * FROM [TSQL_Class].[dbo].[Providers]""")

# Using a for loop to print a of the column headers for table
column_headers = [i[0] for i in cursor.description]
print(column_headers)

# Using a for loop to print all of the records from the query
sql_query = cursor.fetchall()
for row in sql_query:
    print(row)
    
# close the cursor
# cursor.close()
# conn.close()

['Code', 'Name']
('HAL', 'Clarke Enterprises')
('RBT', 'Susan Calvin Corp.')
('TNBC', 'Skellington Supplies')